

body{
	background-image: url('blurred.jpg');
	background-size: cover;
}

button{
	font-family: Helvetica;
	font-size: 100%;
	text-align: center;
	background-color: #0492C2;
	color: white;
	border: 1px solid;
	padding: 4px;
}

button:hover {
	font-family: Helvetica;
	font-size: 100%;
	text-align: center;
	background-color: white;
	color: #0492C2;
	border: 1px solid;
	padding: 4px;
}

h2{
	color: #0492C2;
	font-family: Helvetica;
	font-size: 200%;
	font-weight: bold;
}

label{
	font-family: Helvetica;
	font-size: 100%;
	font-weight: bold;
	color: black;
}

p{
	color: black;
  	font-family: Helvetica;
  	font-size: 100%;
	text-align: center;
}

#entry{
	font-family: Helvetica;
	font-size: 100%;
	text-align: center;
	background-color: white;
	margin: 4px;
}
#log-entry{
	font-family: Helvetica;
	font-size: 100%;
	width: 300px;
	text-align: center;
	background-color: white;
	margin: 4px;
}

.parent{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.child{
	font-family: Helvetica;
	font-size: 100%;
	text-align: center;
	background-color: white;
	overflow: scroll;
	width: 500px;
	height: 500px;
}
.index-child{
	font-family: Helvetica;
	font-size: 100%;
	text-align: center;
	border: 2px solid #0492C2;
	border-radius: 6px;
	background-color: white;
	width: 700px;
	height: 700px;
}

.outer{
	display: table-cell;
	height: 500px;
	width: 500px;
}

.inner{
	display: inline-block;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	margin: 10px;
}

.doors:link{
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: #0492C2;
	float: left;
	width: 100px;
	height: 50px;
	color: white;
	text-decoration: none;
}
.doors:visited{
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: #0492C2;
	float: left;
	width: 100px;
	height: 50px;
	color: white;
	text-decoration: none;
}
.doors:hover{
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: white;
	float: left;
	width: 100px;
	height: 50px;
 	color: #0492C2;
	text-decoration: none;
}

.login-btn:visited{
	font-family: Helvetica;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background-color: #0492C2;
	float: left;
	margin: 6px;
	border-radius: 4px;
	width: 120px;
	height: 50px;
	color: white;
	text-decoration: none;
}

.login-btn:link{
	font-family: Helvetica;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background-color: #0492C2;
	float: left;
	margin: 6px;
	border-radius: 4px;
	width: 120px;
	height: 50px;
 	color: white;
	text-decoration: none;
}

.login-btn:hover{
	font-family: Helvetica;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background-color: white;
	float: left;
	margin: 6px;
	border-radius: 4px;
	width: 120px;
	height: 50px;
 	color: #0492C2;
	text-decoration: none;
}

.index-div{
	display: flex;
	align-items: left;
}

.index-p{
	font-family: Verdana;
	color:#282828;
	margin:50px;
}

.btn{
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: #0492C2;
	color: white;
	border: 1px solid;
	padding: 4px;
	width: 100px;
	margin: 20px;
	text-decoration: none;
}

.btn:hover {
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #0492C2;
	border: 1px solid;
	padding: 4px;
	width: 100px;
	margin: 20px;
	text-decoration: none;
}

.header{
	background-color: #0492C2;
	color: white;
	border-radius: 6px;
	font-family: Helvetica;
	font-size: 250%;
	text-align: center;
}

.settings-div{
	margin: 10px;
}

.settings-a{
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: #0492C2;
	color: white;
	border: 1px solid;
	padding: 4px;
	min-width: 150px;
	max-width: 150px;
	text-decoration: none;
}

.settings-a:hover{
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: #0492C2;
	border: 1px solid;
	padding: 4px;
	min-width: 150px;
	max-width: 150px;
	text-decoration: none;
}

.tbl{
	border-collapse: collapse;
	width: 400px;
	margin: 10px;
	border: 1px solid;
}

.tbl th{
	background-color: #0492C2;
	color: white;
	height: 50px;
	padding: 5px;
}

.tbl tr{
	height: 50px;
	padding: 5px;
}

.tbl tr:hover{
	background-color: #eee;
	height: 50px;
	padding: 5px;
}