
{% extends "owner/base.html" %}
{% block content %}
	<div class="parent">
		<div class="child">
			<h2>Title</h2>
			<p>Manage Supermarket Online</p>
			<h2>Contributors</h2>
			<a style="text-decoration: none;" href="https:\\www.github.com/MesutKihal">Messaoud Kihal</a>
			<h2>Description</h2>
			<p>Manage supermarket online is a web app that allows the user to manage his/her supermarket online easily without using the help of any desktop software.</p>
		</div>	
	</div>
{% endblock content%}