{% extends "owner/base.html" %}
{% block content %}
			<div class="level-item">
				<form class="box" method="post" action="">
					{% csrf_token %}
					<div class="level-item">
						<p class="content has-text-info-dark is-large">Add Cashier<p>
					</div>
					<!-- Full Name -->
					<div class="level-item">
						<label>Full Name</label>
					</div>
					{{form.fullname}}
					<!-- Address -->
					<div class="level-item">
						<label>Address</label>
					</div>
					{{form.address}}
					<!-- Phone Number -->
					<div class="level-item">
						<label>Phone Number</label>
					</div>
					{{form.phone_number}}
					<!-- Username -->
					<div class="level-item">
						<label>Username</label>
					</div>
					{{form.username}}
					<!-- Email -->
					<div class="level-item">
						<label>Email</label>
					</div>
					{{form.email}}
					<!-- Password -->
					<div class="level-item">
						<label>Password</label>
					</div>
					{{form.password}}
					<div class="level-item">
						<input class="button has-text-white has-background-info-dark" type="submit" value="submit"></input>
					</div>
				</form>
			</div>

{% endblock content %}
