{% extends "owner/base.html" %}
{% block content %}
	<div class="columns is-mobile is-centered">
		<p class="content has-text-info-dark is-large">Inventory</p>
	</div>
	<div class="columns is-mobile is-centered">
		<table class="table is-hoverable">
			<tr class="tr mg-medium">
				<th class="th has-text-white has-background-info-dark">barcode</th>
				<th class="th has-text-white has-background-info-dark">title</th>
				<th class="th has-text-white has-background-info-dark">type</th>
				<th class="th has-text-white has-background-info-dark">price</th>
				<th class="th has-text-white has-background-info-dark">in stock</th>
				<th class="th has-text-white has-background-info-dark"></th>
			</tr>
		{% for product in products %}
			<tr class="tr">
				<td class="td">{{ product.barcode }}</td>
				<td class="td">{{ product.title }}</td>
				<td class="td">{{ product.type }}</td>
				<td class="td">{{ product.price }}</td>
				<td class="td">{{ product.quantity }}</td>
				<td class="td"><button class="button has-text-white has-background-danger">X</button></td>
			</tr>
		{% endfor %}
		<tr class="tr">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="td">
				<button class="button has-text-white has-background-success">+</button>
			</td>
		<tr>
		</table>
	</div>

{% endblock content%}