{% extends "owner/base.html" %}
{% block content %}
	<div class="parent">
		<div class="child">
			<!-- Profile Name -->
			<div>
				<label style="font-family:Helvetica;">Admin Name</h2>
			</div>
			<input id="entry" name="profile_name" type="text"/>
			<!-- Email -->
			<div>
				<label style="font-family:Helvetica;">Admin Email</h2>
			</div>
			<input id="entry" name="email" type="text"/>
			<!-- Password -->
			<div>
				<label style="font-family:Helvetica;">Admin Password</h2>
			</div>
			<input id="entry" name="password" type="password"/>
		</div>
	</div>
{% endblock content%}