{% extends "owner/base.html" %}
{% block content %}
				<div class="box">
					<div class="columns is-centered">
						<h2 class="content has-text-info-dark is-large">Account Settings</h2>
					</div>
					<div class="columns is-centered">
						<h3 style = "color: grey;font-family: consolas;">
							@{{ request.user }}
						</h3>
					</div>
					<div class="columns is-centered">
						<button class="button has-text-white has-background-info-dark" onclick="location.href = '{% url 'owner-settings-username' %}'">Change Username</button>
					</div>
					<div class="columns is-centered">
						<button class="button has-text-white has-background-info-dark" onclick="location.href = '{% url 'owner-settings-password' %}'">Change Password</button>
					</div>
					<div class="columns is-centered">
						<button class="button has-text-white has-background-info-dark" onclick="location.href = '{% url 'owner-settings-cashiers' %}'">Manage Cashiers</button>
					</div>
				</div>
{% endblock content%}
